{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        About Us
    </title>
 <link rel="icon" href="{% static 'Images/logo.jpeg' %}" type="image/gif" sizes="20x20">
<style>

.three {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color:white;
}
.two {
  float: right;
}


.one {
  display: block;
  color:black;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {color: white;
  background-color:grey;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: gray;
}
</style>
</head>

<body>


<ul class="three">
  <div style="margin-top: -30px !important;">
  <a  href="/"><img src="{% static 'Images/logo.jpeg' %}" alt="" width="90" height="90"style="float: left !important ; "></a>
  <h2 style="float: left !important; font-family:cursive;font-size:30px ">HELPING HAND</h2>
  </div>
  <div style="margin-top: 30px !important;">
  <li class="two"><a class="one" href="/information/"><b>HELP</b></a></li>
  <li class="two"><a class="one" href=""><b>CONTACT</b></a></li>
  <li class="two"><a class="one" href="/"><b>HOME</b></a></li>
  </div>


</ul>
<h1>About Us:</h1>

<pre style="font-size: 24px;">
  India is a populated country. There aren’t sufficient resources for all people.
  Though everyday we see many resources are being wasted recklessly.
  Many people want to help the needy but all of them don’t trust organisations. 
  But they are happy to donate their used goods directly to the needy ones .
  Also people buy some stuff and they find it useless and they want to get rid of it.
  
  So our motive is to provide a digital platform(interface) where a donor can directly help the needy
  ones without the involvement of any third party
  </pre>

 <p style="font-size: 30px;">we the team of 5 Members from Indian Institute of Information and Technology , SriCity, Chittoor created <cite> HelpingHand</cite>  </p>
<p style="font-size: 20px;">Rohit Haridasula ; Venky Pallala ; Srikanth Yadav ; Sai Krishna ; Fawad Mirza .</p>
<center>
<footer>
<a style="padding-right:50px;" href="https://www.instagram.com/altruistichelpinghand/" target="_blank"><img src="{% static 'Images/instagram.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="https://www.facebook.com/helpinghand.altruistic" target="_blank"><img src="{% static 'Images/facebook.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="https://twitter.com/Helping17266863" target="_blank"><img src="{% static 'Images/twitter.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="mailto:conatct.helpinghand@gmail.com" target="_blank"><img src="{% static 'Images/mail.jpg' %}" width="50" height="50"></a> 
<hr>
<p>&copy copyright 2021</p>
</footer>


</center>


</body>
</html>