{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        Information
    </title>
 <link rel="icon" href="{% static 'Images/logo.jpeg' %}" type="image/gif" sizes="20x20">
<style>

.three {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color:white;
}
.two {
  float: right;
}


.one {
  display: block;
  color:black;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {color: white;
  background-color:grey;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: gray;
}
</style>
</head>

<body>


<ul class="three">
  <div style="margin-top: -30px !important;">
  <a  href="/"><img src="{% static 'Images/logo.jpeg' %}" alt="" width="90" height="90"style="float: left !important ; "></a>
  <h2 style="float: left !important; font-family:cursive;font-size:30px ">HELPING HAND</h2>
  </div>
  <div style="margin-top: 30px !important;">
  <li class="two"><a class="one" href="/information/"><b>HELP</b></a></li>
  <li class="two"><a class="one" href=""><b>CONTACT</b></a></li>
  <li class="two"><a class="one" href="/"><b>HOME</b></a></li>
  </div>

</ul>
<div style="background-color: #e8f7fb;">
<h1>Information :</h1>
<pre style="font-size: 24px;">In this <cite><b>HelpingHand</cite></b> Users are categorized into 2 types: Donors
                                                        Receivers
  
  User can Login using his/her Username,phone number and also via Google & Social media accounts.

  Pages : Home  | Donate | Receive | Receive(list)| Chat | History | Information | AboutUs | Contact | Feedback |
  
  <b>Home Page</b> : At Middle of the HomePage, there are 2 options :
                                                                Donate  &  Receive.
  
  
  <b>Receive</b> : Opens a new page showing option for browsing Items : Location wise(State and District) 
            and Category wise.
            In case if there are no items in that district under that selected Category then,
            HelpingHand will be dispalying the items in that State under that Category.
            Browse by Categories.
            Each item is displayed in list format showing {title} When clicked on Search button.
    
  <b>Categories</b> :  Food, Clothes, Accessories, Footwear, Gadgets, Books, Sport Items and Others
  
  <b>Chat</b> : When receiver decide to claim a Item and if he/she confirms it then end to end chat is provided 
         between donor and receiver.
  
  <b>Donate</b> : A webpage showing options for uploading an Image of the Item , A small Description and
           Contact Details to collect.
           There will be options of naming his/her state,district and the collecting address.

  <b>Feedback</b> : Users can Send their Feedback through this.This will be available only after using <cite>HelpingHand</cite>.
  </pre>
<center>
 <br><br><br>
</div>
<footer>
<a style="padding-right:50px;" href="https://www.instagram.com/altruistichelpinghand/" target="_blank"><img src="{% static 'Images/instagram.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="https://www.facebook.com/helpinghand.altruistic" target="_blank"><img src="{% static 'Images/facebook.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="https://twitter.com/Helping17266863" target="_blank"><img src="{% static 'Images/twitter.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="mailto:conatct.helpinghand@gmail.com" target="_blank"><img src="{% static 'Images/mail.jpg' %}" width="50" height="50"></a> 
<hr>
<p>&copy copyright 2021</p>
</footer>


</center>


</body>
</html>