{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        Receive
    </title>
 <link rel="icon" href="{% static 'Images/logo.jpeg' %}" type="image/gif" sizes="20x20">
<style>

.three {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color:white;
}
.two {
  float: right;
}


.one {
  display: block;
  color:black;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {color: white;
  background-color:grey;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: gray;
}
</style>

<script>
var stateObject = {
  "India": { "Delhi": ["New Delhi", "North West Delhi", "North Delhi", "West Delhi", "South West Delhi", "South Delhi", "South East Delhi", "Central Delhi", "North East Delhi", "Shahdara", "East Delhi"],
  "Goa": ["North Goa", "South Goa"],
  "TamilNadu":["Ariyalur", "Chengalpattu", "Chennai", "Coimbatore",  "Cuddalore", "Dharmapuri", "Dindigul", "Erode", "Kallakurichi", "Kanchipuram", "Kanyakumari", "Karur", "Krishnagiri", "Madurai", "Nagapattinam", "Namakkal", "Nilgiris", "Perambalur", "Pudukkottai", "Ramanathapuram", "Ranipet", "Salem","Sivaganga","Tenkasi", "Thanjavur", "Theni", "Thoothukudi", "Tiruchirappalli", "Tirunelveli", "Tirupathur","Tiruppur", "Tiruvallur", "Tiruvannamalai", "Tiruvarur", "Vellore", "Viluppuram"],
  "Andhra pradesh": ["Anantapur" ,"Chittoor", "Kadapa", "Kurnool", "East Godavari", "West Godavari", "Krishna", "Guntur", "Prakasam", "Nellore", "Srikakulam", "Vizianagaram", "Vishakapatnam"],
  "Kerala": ["Thiruvananthapuram", "Kollam", "Alappuzha", "Pathanamthitta", "Kottayam", "Idukki", "Ernakulam", "Thrissur", "Palakkad", "Malappuram", "Kozhikode", "Wayanad", "Kannur", "Kasaragod"],
  "Karnataka": ["Bagalkot", "Bellary", "Belagavi (Belgaum)", "Bengaluru (Rural)", "Bangalore (Urban)", "Bidar", "Chamarajanagar", "Chikballapur", "Chikkamagaluru (Chikmagalur)", "Chitradurga", "Dakshina Kannada", "Davangere", "Dharwad", "Gadag", "Hassan","Haveri", "Kalaburagi (Gulbarga)", "Kodagu", "Kolar", "Koppal", "Mandya", "Mysore", "Raichur", "Ramanagara", "Shivamogga (Shimoga)", "Tumakuru (Tumkur)", "Udupi", "Uttara", "Kannada (Karwar)", "Vijayapura (Bijapur)", "Yadgir"],
  "Telangana": ["Adilabad", "Komaram Bheem", "Bhadradri", "Hyderabad", "Jagtial", "Jangaon", "Jayashankar", "Jogulamba", "Kamareddy", "Karimnagar", "Khammam", "Mahabubabad", "Mahbubnagar", "Mancherial", "Medak", "Medchal–Malkajgiri", "Mulugu", "Nagarkurnool", "Nalgonda", "Narayanapet", "Nirmal", "Nizamabad", "Peddapalli", "Rajanna Sircilla", "Ranga Reddy", "Sangareddy", "Siddipet", "Suryapet","Vikarabad","Wanaparthy", "Warangal (Rural)", "Warangal (Urban)", "Yadadri"],
},
  "Australia": {
  "South Australia": ["Dunstan", "Mitchell"],
  "Victoria": ["Altona", "Euroa"]
  }, "Canada": {
  "Alberta": ["Acadia", "Bighorn"],
  "Columbia": ["Washington", ""]
  },
}
window.onload = function () {
var countryselection = document.getElementById("countryselection"),
stateselection = document.getElementById("stateselection"),
districtselection = document.getElementById("districtselection");
for (var country in stateObject) {
countryselection.options[countryselection.options.length] = new Option(country, country);
}
countryselection.onchange = function () {
stateselection.length = 1; // remove all options bar first
districtselection.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done 
for (var state in stateObject[this.value]) {
stateselection.options[stateselection.options.length] = new Option(state, state);
}
}
countryselection.onchange(); // reset in case page is reloaded
stateselection.onchange = function () {
districtselection.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done 
var district = stateObject[countryselection.value][this.value];
for (var i = 0; i < district.length; i++) {
districtselection.options[districtselection.options.length] = new Option(district[i], district[i]);
}
}
}
</script>

</head>

<body>

{% if user.is_authenticated %}


<ul class="three">
  <div style="margin-top: -30px !important;">
  <a  href="/"><img src="{% static 'Images/logo.jpeg' %}" alt="" width="90" height="90"style="float: left !important ; "></a>
  <h2 style="float: left !important; font-family:cursive;font-size:30px ">HELPING HAND</h2>
  </div>
  <div style="margin-top: 30px !important;">
  <li class="two"><a style="background-color:skyblue;" class="one" href="{% url 'signout' %"><b>LOGOUT</b></a></li>
  <li class="two"><a class="one" href="/information/"><b>HELP</b></a></li>
  <li class="two"><a class="one" href=""><b>CONTACT</b></a></li>
  <li class="two"><a class="one" href="/"><b>HOME</b></a></li>
  </div>
</ul>
<center>
<h1> <cite> {{user.first_name}} {{user.last_name}}, Our <strong>Helping Hand</strong> will help you....</cite></h1>

<br><br><br>

  <form action="" method="POST">
    {% csrf_token %}
  Select Country: <select name="country" id="countryselection" size="1">
  <option value="" selected="selected">Select Country</option>
  </select>
  <br>
  <br>
  Select State: <select name="state" id="stateselection" size="1">
  <option value="" selected="selected">Please select Country first</option>
  </select>
  <br>
  <br>
  Select District: <select name="district" id="districtselection" size="1">
  <option value="" selected="selected">Please select State first</option>
  </select><br><br>
  

<label for="category">Select the Category :  </label>
<input list="categories" name="category" id="category">
<datalist id="categories">
  <option value="Books">
  <option value="Clothes">
  <option value="Household">
  <option value="Footwear">
  <option value="Food">
  <option value="Gadgets">
  <option value="Sports items">
  <option value="Pets">
  <option value="Furniture items">
  <option value="Others">
</datalist>

<br><br><br>

<input type="submit" value="Search">

</form>

{% else %}
<li >Login to the website to receive </li><br><br>
<li class="two"><a style="background-color:skyblue;" class="one" href="accounts/signinviarec"><b>LOGIN</b></a></li><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}

<br><br><br><br><br><br><br><br><br><br><br>

<footer>
<a style="padding-right:50px;" href="https://www.instagram.com/altruistichelpinghand/" target="_blank"><img src="{% static 'Images/instagram.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="https://www.facebook.com/helpinghand.altruistic" target="_blank"><img src="{% static 'Images/facebook.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="https://twitter.com/Helping17266863" target="_blank"><img src="{% static 'Images/twitter.jpg' %}" width="50" height="50"></a> 

<a style="padding-right:50px;" href="mailto:conatct.helpinghand@gmail.com" target="_blank"><img src="{% static 'Images/mail.jpg' %}" width="50" height="50"></a> 
<hr>
<p>&copy copyright 2021</p>
</footer>


</center>


</body>
</html>